/* navBar stuff */
.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-image: linear-gradient(black, rgb(0, 34, 49), black);
}

.logo {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0.1em 0 0.1em;
    color: yellow;
    text-decoration: none;
    text-align: center;
    margin: auto 0.1em auto 0.1em;
}

.navBar a {
    font-size: 1.1em;
    color: aliceblue;
    text-align: center;
    text-shadow: 0 0 0.3em black;
    margin: 0.3em;
    padding: 0.2em 0.5em;
    text-decoration: none;
    corner-shape: bevel;
    border: 1px solid grey;
    border-radius: 0.4em;
    background-image: linear-gradient(steelblue, black, steelblue);
}

.navBar a:hover {
    background-image: linear-gradient(mediumpurple, black, mediumpurple);
    border-radius: 0.4em;
    color: white;
    border: 1px solid orchid;
}

.navBar a.active {
    border-radius: 0.4em;
    color: white;
    border: 1px solid lightseagreen;
    background-image: linear-gradient(darkcyan, black, darkcyan);
}

.clock {
    display: block;
    font-size: 1.2em;
    color: aliceblue;
    text-align: center;
    padding: 0.1em 0.2em;
    margin: auto 0.1em auto auto;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
    corner-shape: scoop;
    border: 1px solid grey;
    border-radius: 0.3em;
    background-image: linear-gradient(midnightblue, black, midnightblue);
}

.clock:hover {
    color: yellow;
}

.switch.clock {
    display: none;
}

.icon {
    display: none;
    cursor: pointer;
    margin: 3px;
    margin-left: auto;
    border-radius: 6px;
    background-color: black;
}

.bar1 {
    width: 27px;
    height: 3px;
    /*background-color: rgb(255, 0, 0);*/
    background-color: orangered;
    margin: 6px 3px 6px 3px;
    transition: 0.5s;
    border-radius: 2px;
}
.bar2 {
    width: 27px;
    height: 3px;
    /*background-color: rgb(0, 255, 0);*/
    background-color: springgreen;
    margin: 0px 3px 6px 3px;
    transition: 0.5s;
    border-radius: 2px;
}
.bar3 {
    width: 27px;
    height: 3px;
    /*background-color: rgb(0, 0, 255);*/
    background-color: royalblue;
    margin: 0px 3px 6px 3px;
    transition: 0.5s;
    border-radius: 2px;
}

.switch .bar1 {
    transform: rotate(60deg) translate(9px, -2px);
}
.switch .bar2 {
    transform: translate(0px, 9px);
}
.switch .bar3 {
    transform: rotate(-60deg) translate(6px, -11px);
}

@media screen and (max-width: 600px) {
    .navBar a {
        display: none;
    }
    .navBar .icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navBar.responsive {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .navBar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navBar.responsive a {
        width: 35%;
        display: initial;
    }
    .navBar.responsive .logo {
        display: none;
    }
}
