html {
    background-color: black;
    background-image: url("../images/bg.png");
    height: 100%;
}

body {
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.container {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 700px;
    max-height: 900px;
    height: 100vh;
    background-color: rgb(5, 26, 54);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 3px solid white;
}
/* 1st row - title*/
.title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 0.5;
    align-items: center;
}

.back {
    color: aliceblue;
    flex-grow: 2;
    text-align: center;
    text-decoration: none;
    transition-duration: 1s;
}

.back:hover {
    color: yellow;
    transition-duration: 1s;
}

.titleLink {
    color: yellow;
    font-size: 200%;
    text-align: center;
    flex-grow: 6;
    margin: auto;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}

.titleLink:hover {
    color: lime;
    transition-duration: 1s;
}

.clock {
    flex-grow: 2;
    color: aliceblue;
    text-align: center;
    padding: 0 0.5em 0 0;
    text-decoration: none;
    font-weight: bold;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    transition-duration: 2s;
}
.clock:hover {
    color: yellow;
}

/* 2nd row - settings*/
.settings {
    flex: 1.5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 120%;
}

.settings p {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.settingsCell {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 2px;
}

.settingsCell0 {
    margin: 2px;
    grid-column: 1 / span 2;
}

/*number of dice*/
.diceNumber, .theme, .diceType{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.radioContainer {
    flex: 1;
    display: block;
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    margin: 1px 1px;
    cursor: pointer;
    width: 20px;
}

.radioContainer:hover {
    color: lime;
}

.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radioContainer input:checked ~ .radioBtn {
    background-color: aliceblue;
}

.radioContainer input:checked ~ .radioBtn:after {
    display: block;
}

.radioContainer .radioBtn:after {
    top: 8px;
    left: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: darkred;
}

.radioBtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: gray;
    border-radius: 50%;
}

.radioBtn:after {
    content: "";
    position: absolute;
    display: none;
}

.soundBtnContainer {
    display: flex;
    justify-content: center;
}

.soundBtn {
    background-color: black;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    color: greenyellow;
    cursor: pointer;
}

/* 3rd row - dice board*/
.diceBoard {
    flex: 4;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.boardRow {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.dice {
    height: 185px;
    width: 185px;
    background-color: whitesmoke;
    border: 3px grey;
    border-radius: 15%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    animation: fade 1s;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dot {
    background-color: darkblue;
    border-radius: 50%;
}

/* 4th row - roll button*/
.roll {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rollBtn {
    background-color: white;
    border: 4px solid black;
    border-radius: 20px;
    width: 65%;
    height: 90%;
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    outline: none;
    transition-duration: 0.5s;
}

.rollBtn:active {
    background-color: cyan;
}

.rollBtn:hover {
    color: lime;
    background-color: darkslategray;
    transition-duration: 0.5s;
}

/* 5th row - stats*/
.stats {
    flex: 1;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.statsCell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    text-align: center;
}

/* line separator */
.stats, .roll, .diceBoard, .settings {
    border-top: 1px solid white;
}

/*screen size*/

@media only screen and (max-width: 499px) {
    body {font-size: 18px;}
    .titleLink {font-size: 150%;}
    .clock {display: none;}
    .dice {
        height: 160px;
        width: 160px;
    }
    /*radio buttons*/
    .radioContainer {
        padding-left: 22px;
        width: 12px;
    }
    .radioContainer .radioBtn:after {
        top: 5px;
        left: 5px;
        width: 9px;
        height: 9px;
    }
    .radioBtn {
        height: 18px;
        width: 18px;
    }
    .diceType, .theme {
        font-size: 16px;
    }
}

@media only screen and (max-width: 380px) {
    body {font-size: 16px;}
    .titleLink {font-size: 150%;}
    .clock {display: none;}
    .dice {
        height: 140px;
        width: 140px;
    }
    /*radio buttons*/
    .radioContainer {
        padding-left: 22px;
        width: 12px;
    }
    .radioContainer .radioBtn:after {
        top: 5px;
        left: 5px;
        width: 9px;
        height: 9px;
    }
    .radioBtn {
        height: 18px;
        width: 18px;
    }
    .diceType, .theme {
        align-items: center;
    }
    .diceType {font-size: 15px;}
}

@media only screen and (max-width: 321px) {
    body {font-size: 15px;}
    .titleLink {font-size: 150%;}
    .clock {display: none;}
    .dice {
        height: 100px;
        width: 100px;
    }
    /*radio buttons*/
    .radioContainer {
        padding-left: 22px;
        width: 12px;
    }
    .radioContainer .radioBtn:after {
        top: 5px;
        left: 5px;
        width: 9px;
        height: 9px;
    }
    .radioBtn {
        height: 18px;
        width: 18px;
    }
    .diceType, .theme {
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (min-width: 700px) {
    .diceType label {padding-left: 70px;}
    .diceType .radioBtn {left: 40px;}
    .theme label {padding-left: 80px;}
    .theme .radioBtn {left: 50px;}
    .diceNumber label {padding-left: 50px;}
    .diceNumber .radioBtn {left: 20px;}
}